html {
    /* Colors */
    --pine-tree: rgb(58, 19, 12);
    --pine-tree-low-transparency: rgba(58, 19, 12, 0.918);
    --chestnut: #8D3F28ff;
    --chestnut-low-transparency: rgba(141, 64, 40, 0.911);
    --light: #d1d1d1;

    /* Sizes */
    --border-radius-size: 15px;

    font-size: 14pt;
}

.white-text {
    color: var(--light) !important;
}

body {
    background-color: var(--chestnut);
    font-family: Georgia, serif;
}

h1,h2,h3 {
    /*font-family: 'Roboto', sans-serif !important;*/
    font-weight: 400;
}

a {
    color: var(--pine-tree);
    text-decoration: none;
}
a:hover {
    color: var(--chestnut);
    text-decoration: underline;
}
a.no-underline {
    text-decoration: underline #FFFFFF00;
}

.main-home-image {
    background: top / cover url("Images\\homepage-image.jpg") no-repeat;
    position: absolute;
    bottom: 40vh;

    z-index: -1;
}

.main-image-height {
    height: 80vh;
}

.light-inside {
    background-color: var(--light);
    border-radius: var(--border-radius-size);

    padding: 7px 14px;
}

.center {
    justify-content: center;
    text-align: center;
}

.mt-big {
    margin-top: 40vh;
}

.poster-img {
    height: 60vh;
    border-radius: var(--border-radius-size);
}

.small {
    font-size: 12pt;
    font-weight: 200;
    color: gray;
}
.small a {
    color: rgb(83, 83, 83);
}
.small a:hover {
    color: darkgray;
    text-decoration: underline;
}

.navbar {
    background-color: var(--pine-tree-low-transparency);
    transition: background-color 175ms;
    border-bottom-left-radius: var(--border-radius-size);
    border-bottom-right-radius: var(--border-radius-size);
}
.navbar:hover {
    background-color: var(--chestnut-low-transparency);
}

.nav-link {
    color: var(--light);
}
.navbar:hover .nav-link {
    color: black;
}
.nav-link:hover {
    color: var(--pine-tree) !important;
}


.navbar-brand {
    background-color: var(--pine-tree);
    border-radius: 7.5px;
    padding: 7px 14px;
    color: var(--light);
    /*box-shadow: 0px 0px 10px 7px var(--chestnut-low-transparency);*/
}
.navbar:hover .navbar-brand {
    background-color: var(--chestnut);
    color: black;
}
.navbar-brand:hover {
    color: var(--pine-tree) !important;
}

.normal-button {
    border: 3px solid var(--pine-tree);
    border-radius: var(--border-radius-size);
    text-decoration: none;

    padding: 10px 20px;

    background-color: var(--chestnut);

    transition: border 175ms, background-color 175ms, transform 70ms;
}
.normal-button:hover {
    background-color: var(--light);
    color: var(--pine-tree);

    border: 3px solid var(--chestnut);
}
.normal-button:active {
    transform: translateY(-10px);
}

@media(max-width: 768px) {
    .container-md {
        border-radius: 0 !important;
    }
}